html {
    font-size: 16px;
}

body {
    background: #4b4a58;
    font-size: 1rem;
    color: #f9f9f9;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.container {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
}

.btn {
    display: block;
    padding: 1rem 2rem;
    background: none;
    border: 1px solid #f9f9f9;
    color: #f9f9f9;
}

.warning {
   color: #ff6f6f;
}
.page__title a {
    color: #f9f9f9;
    text-decoration: none;
}

.quiz {
    margin-top: 3.5rem;
}
.quiz__tracker {
    font-size: 0.875rem;
    color: #34fab7;
}
.quiz__question {
    font-size: 1.6875rem;
    border-bottom: 2px solid #34fab7;
    padding-bottom: 1rem;
}

.quiz__choices p {
    padding: 1rem 0;
}

.quiz__buttons button {
    width: 100%;
    margin-bottom: 1rem;
}

progress {
    width: 100%;
    background: #33333c;
}

progress[value]::-webkit-progress-value  {
    background: #f9f9f9;
}

progress::-webkit-progress-bar {
    background: #33333c;
}
progress::-moz-progress-bar {
    background: #f9f9f9;
}